<form #form="ngForm" (ngSubmit)="form_submit(form)">
  <label>First Name</label>
  <input pInputText type="text" placeholder="Enter your name" name="fname" ngModel/>
  <br/><br/>
  <label>Last Name</label>
  <input pInputText type="text" placeholder="Enter your name" name="lname" ngModel/>
  <br/><br/>
  <label>DOB</label>
  <!-- <input type="datetime-local" placeholder="DOB" name="dob" ngModel/> -->


   <p-calendar 
   name="dob"
   dateFormat="oo/DD/dd/mm/yy"
   selectionMode="range"
   [showButtonBar]="true"
   [showTime]="true"
   [hourFormat]="'24'"
   [showIcon]="true"
   [numberOfMonths]="2"
   [minDate]="minDate"
   [touchUI]="true"
   ngModel>
  <!-- <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
                    <button  
                        (click)="clickCallBack($event)">clock</button>
                </ng-template> -->
                <ng-template pTemplate="date" let-date>
                    <span [ngStyle]='date.day>10&&date.day<15?{color:"red"}:{color:"green"}'>{{date.day}}</span>
                </ng-template>
  </p-calendar>





  <br/><br/>

  <label>Enter your city</label>
  <p-cascadeSelect
  [options]="countries"
  optionLabel="cname"
  optionGroupLabel="name"
  ></p-cascadeSelect>

  <br/><br/>

  <input type="submit" value="Submit"/>
</form>

<br/><br/>
<br/><br/>
<app-auto-complete></app-auto-complete>

<div class="card">
    <p-editor  [ngModel]="text" (ngModelChange)="text = $event" [style]="{ height: '320px' }">
        <ng-template pTemplate="header">
            <span class="ql-formats">
                <button type="button" class="ql-bold" aria-label="Bold"></button>
                <button type="button" class="ql-italic" aria-label="Italic"></button>
                <button type="button" class="ql-underline" aria-label="Underline"></button>
            </span>
        </ng-template>
    </p-editor>
</div>
<div class="card flex justify-content-center">
    <p-multiSelect 
        [options]="cities" 
        [(ngModel)]="selectedCities" 
        optionLabel="name" 
        placeholder="Select Cities"
        [selectedItemsLabel]="selectedCities.length+''" />
</div>

<div [innerHTML]="'<p>hi</p>'"></div>
