<div>
    <p-autoComplete
        [suggestions]="suggestions"
        [dropdown]="true"
        [forceSelection]="true"
        [multiple]="true"
        (completeMethod)="auto_complete($event)"
        field="fname"
        inputId="name"
        [showClear]="true"
    >
    <label for="name">Choose name</label>
    <ng-template let-user pTemplate="items">
        <pre>{{user.fname}} {{user.lname}}</pre>
    </ng-template>
    </p-autoComplete>
</div>
<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>DOB</th>
    </tr>
        <tr *ngFor="let user of users">
        <td>{{user.fname}}</td>
        <td>{{user.lname}}</td>
        <td>{{user.dob}}</td>
    </tr>
</table>